.chat-main
 .group-info
  .group-info__left-box
   %h2.group-info__left-box__current-group test
   %ul.group-info__left-box__member-list Member :
   %li.group-info__left-box__member takahashi
  .group-info__edit-btn
   = link_to "#" do
    Edit

 .messages
  .message
   .message__upper-info
    %p.message__upper-info__talker takahashi
    %p.message__upper-info__date 2020/03/25(Wed) 17:43:01
   .message__text おはよう！

 .form
  .contents
     = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'contents__text', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'contents__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'send-btn'